extends layout

block content
    .container-fluid
      .row
        nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            br
            ul.nav.flex-column
              li.nav-item
                a.nav-link(href='http://localhost:4020/1/band') A Banda
              li.nav-item
                a.nav-link(href='http://localhost:4020/1/calendar') Calendário
              li.nav-item
                a.nav-link(href='http://localhost:4020/1/news') Noticias
              li.nav-item
                a.nav-link(href='http://localhost:4020/1/repertoire') Repertório
              li.nav-item
                a.nav-link(href='http://localhost:4020/1/users') Utilizadores
              li.nav-item
                a.nav-link(href='http://localhost:4020/1/information') Informações
            br
            h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                span Opções
            ul.nav.flex-column.mb-2
                li.nav-item
                    a.nav-link(href='http://localhost:4020/1/repertoire/add')
                        span(data-feather='plus')
                        |                   Adicionar Música
                li.nav-item
                    a.nav-link(href='#')
                        span(data-feather='trash-2')
                        |                   Remover Música
        
        main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main') 
            br
            include ../messages.pug
            h3 
                small.text-muted
                    b Selecione as músicas que pretende eliminar:
            br
            form(action="/1/repertoire/remove" method="POST")
                .table-responsive
                table.table.table-striped.table-sm(id="myTable")
                    thead
                        tr
                            th #
                            th Titulo
                            th Tipo
                            th Compositor
                            th Arranjo
                    tbody
                        each obra in obras
                            tr
                                td  
                                    .form-check
                                        input.form-check-input(type='checkbox', value=obra, id="checkbox", name="checkbox")
                                        label.form-check-label
                                        |           #{obra._id}
                                td= obra.titulo
                                td= obra.tipo
                                td= obra.compositor
                                td= obra.arranjo
                button.btn-outline-secondary.btn-sm(type="submit") Remover Músicas
            br
        script.
                feather.replace()